<div id="<%= dom_id(@resource, key) %>" class="py-4 px-8 hover:bg-gray-50 group flex items-center justify-between">
  <div class="hidden space-y-2 animate-pulse">
    <div class="h-4 w-10 bg-gray-100 rounded-md"></div>
    <div class="h-8 w-32 bg-gray-100 rounded-md"></div>
  </div>
  <div>
    <%= render Oversee::FieldLabelComponent.new(key: key, datatype: datatype) %>
    <div class="mt-2">
      <%= form_with url: resource_path(@resource.id, resource_class: @resource_class), scope: :resource, model: @resource do |f| %>
        <%= f.hidden_field :oversee_key, value: key %>
        <%= f.hidden_field :oversee_datatype, value: datatype %>

        <%= f.text_field :title, class: "border rounded-md px-4 py-2 text-sm" %>
        <%= f.submit "Save", class: "bg-blue-500 px-4 py-2 rounded-md text-white text-sm hover:bg-blue-600 hover:cursor-pointer" %>
      <% end %>
    </div>
  </div>
</div>
