<div class="p-8">
  <div class="flex items-center justify-between">
    <div>
      <p class="text-xs font-medium text-gray-500">Index</p>
      <h1 class="text-2xl"><%= params[:resource] %></h1>
    </div>

    <%= link_to 'Add new', "", class: "inline-flex items-center justify-center py-2 px-6 rounded bg-blue-500 text-white text-sm font-medium" %>
  </div>
</div>
<div class="">
  <div class="bg-white border-t overflow-x-hidden">
    <div class="-mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr class="divide-x divide-gray-200">
              <th class="hidden"><input type="checkbox" name="" id="" class="mx-4"></th>
              <th scope="col" class="px-4 py-3.5 text-left text-xs font-semibold text-gray-900 uppercase"></th>
              <% @resource_class.columns_hash.each do |key, metadata| %>
                <th scope="col" class="px-4 py-3.5 text-left text-xs font-semibold text-gray-900 uppercase whitespace-nowrap">
                  <%= raw(Oversee::FieldLabelComponent.new(key: key, datatype: metadata.sql_type_metadata.type).call(view_context: nil)) %>
                </th>
              <% end %>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-100 bg-white">
            <% @resources.each do |resource| %>
              <tr class="divide-x divide-gray-100">
                <td class="hidden">
                  <input type="checkbox" name="" id="" class="mx-4">
                </td>
                <td>
                  <div class="flex space-x-2 mx-4">
                    <a href="<%= resource_path(resource.id, resource: params[:resource]) %>" data-turbo-stream="true">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" data-slot="icon" class="w-4 h-4 text-gray-500 hover:text-blue-500">
                        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z" />
                        <path fill-rule="evenodd" d="M1.38 8.28a.87.87 0 0 1 0-.566 7.003 7.003 0 0 1 13.238.006.87.87 0 0 1 0 .566A7.003 7.003 0 0 1 1.379 8.28ZM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" clip-rule="evenodd" />
                      </svg>
                    </a>
                  </div>
                </td>
                <% @resource_class.columns_hash.each do |key, metadata| %>
                  <td class="whitespace-nowrap p-4 text-sm text-gray-500">
                    <div class="max-w-96">
                    <%= raw(Oversee::FieldComponent.new(datatype: metadata.sql_type_metadata.type, value: resource.send(key), key: key).call(view_context: self)) %>
                    </div>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <%= raw(pagy_nav(@pagy)) if @pagy.pages > 1 %>
</div>
