<div class="p-8">
  <div class="flex items-center justify-between">
    <div>
      <p class="text-xs uppercase font-medium text-gray-400">Resource</p>
      <h1 class="text-xl"><%= params[:resource] %></h1>
    </div>

    <%= link_to 'Edit', edit_resource_path(@resource, resource: params[:resource]), class: "inline-flex items-center justify-center py-2 px-6 rounded bg-blue-500 text-white text-sm font-medium" %>
  </div>
</div>

<div class="p-8">
  <div class="bg-white px-8 border shadow-sm rounded">
    <div class="divide-y divide-gray-100 -mx-8">
      <% @resource.attributes.each do |attribute, value| %>
        <div class="py-4 px-8 hover:bg-gray-50 group flex items-center justify-between">
          <div>
            <p class="text-xs font-medium text-gray-500 uppercase"><%= attribute.humanize %></p>
            <p class="mt-1 text-lg"><%= value %></p>
          </div>
          <div>
            <a href="" class="opacity-0 group-hover:opacity-100 transition h-8 w-8 rounded-md bg-white border inline-flex justify-center items-center text-gray-400 hover:text-gray-800">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" data-slot="icon" class="w-4 h-4">
                <path d="M13.488 2.513a1.75 1.75 0 0 0-2.475 0L6.75 6.774a2.75 2.75 0 0 0-.596.892l-.848 2.047a.75.75 0 0 0 .98.98l2.047-.848a2.75 2.75 0 0 0 .892-.596l4.261-4.262a1.75 1.75 0 0 0 0-2.474Z" />
                <path d="M4.75 3.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h6.5c.69 0 1.25-.56 1.25-1.25V9A.75.75 0 0 1 14 9v2.25A2.75 2.75 0 0 1 11.25 14h-6.5A2.75 2.75 0 0 1 2 11.25v-6.5A2.75 2.75 0 0 1 4.75 2H7a.75.75 0 0 1 0 1.5H4.75Z" />
              </svg>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="p-8">
  <pre class="rounded border p-4">
    <%= debug @resource_class.columns_hash %>
  </pre>
  <pre class="rounded border p-4">
    <%= debug @resource.attributes %>
  </pre>
</div>