<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="ROBOTS" content="NOODP">

  <title>Oversee | <%= Rails.application.class %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%# stylesheet_link_tag    "oversee/application", media: "all" %>
  <%= render "oversee/application/javascript" %>
</head>
<body class="min-h-screen bg-gray-100 p-8">
  <div class="flex gap-4">
	  	<div class="w-72 shrink-0">
				<%= render Oversee::Dashboard::SidebarComponent.new %>
		  </div>
			<div class="w-full bg-white rounded-lg border shadow-sm overflow-clip">
				<%= yield %>
			</div>
	  </div>
</body>
</html>
