<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="ROBOTS" content="NOODP">

  <title>Oversee | <%= Oversee.application_name %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%# stylesheet_link_tag    "oversee/application", media: "all" %>
  <%= render "oversee/application/javascript" %>
</head>
<body class="min-h-screen bg-gray-100 p-8">
  <div class="flex gap-4 w-full">
    <div class="w-72 shrink-0">
			<%= render Oversee::Dashboard::SidebarComponent.new %>
		</div>
		<div class="w-full overflow-scroll">
			<div class="bg-white rounded-lg border overflow-clip">
  			<%= yield %>
   	  </div>
		</div>
	</div>
</body>
</html>
